"*":
  "autocomplete-plus":
    autoActivationDelay: 500
  core:
    audioBeep: false
    disabledPackages: [
      "language-gfm"
      "jscs-fixer"
    ]
    projectHome: "/Users/rtimmons/Projects"
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontFamily: "Monoid"
    fontSize: 18
    scrollPastEnd: true
    softWrap: true
    softWrapHangingIndent: 4
  "exception-reporting":
    userId: "e7e3c361-11ac-091b-875d-3bc273f8b446"
  "flow-ide": {}
  "jscs-fixer":
    defaultPreset: "airbnb"
  "linter-eslint":
    fixOnSave: true
  "linter-jscs":
    configPath: ".eslintrc"
    fixOnSave: true
  mocha: {}
  "mocha-test-runner":
    options: "-R min"
  "node-debugger":
    nodePath: "/usr/local/bin/node"
  welcome:
    showOnStartup: false
".groovy.source":
  editor:
    softWrapAtPreferredLineLength: false
    tabLength: 4
